/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
  box-sizing: border-box;
}

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/

/* NORMALIZE */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
/* _______________ */

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.6;
}

/* HLAVICKA */
.header {
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(
      to right,
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(./images//island-hlavicka.jpg);
  background-position: center center;
  background-size: cover;
}

.titulek {
  margin-bottom: 10px;
  font-family: 'Raleway', serif;
  font-size: 40px;
  font-weight: 700;
}

.perex {
  position: relative;
  margin-bottom: 30px;
}

.perex::after {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
  display: block;
  content: ' ';
  width: 80px;
  height: 1px;
  background-color: #fff;
}

.autor {
  color: rgba(255, 255, 255, 0.75);
  font-style: italic;
}

/* MENU */
.menu {
  margin-bottom: 30px;
  padding: 0 30px;
  color: lightgrey;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', serif;
  font-weight: 700;
}

.menu-item {
  padding: 5px;
  border-bottom: solid 1px lightgrey;
}

.section h2 {
  position: relative;

  margin-bottom: 30px;
  padding: 0 20px;

  font-family: 'Raleway', serif;
  font-weight: 700;
  font-size: 26px;
}

.section h2::after {
  position: absolute;
  top: 50px;
  left: -20px;
  display: block;
  content: ' ';
  width: 80px;
  height: 4px;
  background-color: rgb(100, 175, 237);
}

.section p {
  padding: 0 20px;
  margin-bottom: 15px;
}

figure {
  margin-top: 30px;
  margin-bottom: 20px;
}

.picture {
  width: 100%;
}

.popisek {
  font-size: 10px;
  text-align: center;
  color: grey;
}

.popisek a {
  text-decoration: underline;
}

.fotogalerie {
  box-shadow: 1px 12px 12px #91928467;
}

footer {
  padding: 20px;
  font-size: 10px;
  font-weight: 700;
  color: lightgrey;
}

footer a {
  text-decoration: underline;
}
/* OBSAH */

/* FOTOGALERIE */

/* PATICKA */

/* _________________________________________________________________ */

@media screen and (min-width: 500px) {
  body {
    font-size: 18px;
  }

  /* HLAVICKA */
  .header {
    padding: 40px;
    margin-bottom: 40px;
  }

  .titulek {
    margin-bottom: 15px;
    font-size: 46px;
  }

  .perex {
    margin-bottom: 40px;
  }

  .perex::after {
    bottom: -30px;
    left: calc(50% - 50px);
    width: 100px;
    height: 2px;
  }

  /* MENU */

  .menu {
    display: flex;
    font-size: 14px;
    padding: 0px;
  }

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
    flex: 1 1 25%;
    border-bottom: solid 1px rgba(211, 211, 211, 0.6);
    border-top: solid 1px rgba(211, 211, 211, 0.6);
  }

  .menu-item:not(:last-child) {
    border-right: solid 1px rgba(211, 211, 211, 0.6);
  }

  .section h2 {
    font-size: 30px;
  }

  .section h2::after {
    top: 60px;
    width: 100px;
    height: 4px;
  }

  .section p {
    padding: 0 24px;
    margin-bottom: 16px;
  }

  figure {
    margin-top: 32px;
    margin-bottom: 32px;

    position: relative;
  }

  .popisek {
    position: absolute;
    bottom: 10px;
    right: 10px;

    font-size: 10px;
    text-shadow: 1px 2px 2px rgba(17, 17, 17, 0.9);
    color: lightgrey;
  }

  .fotogalerie {
    padding-bottom: 0;
  }

  .galerie {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
  }

  .foto {
    flex: 0 1 50%;
  }

  .galerie figure {
    margin: 0;
    overflow: hidden;
  }

  .foto .picture {
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 0;
  }

  .foto:hover .picture {
    transform: scale(1.1);
  }

  .foto .popisek {
    bottom: -35px;
    right: 0;
    width: 100%;
    font-size: 10px;
    background-color: rgba(17, 17, 17, 0.45);

    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 0;
  }

  .foto:hover .popisek {
    transform: translateY(-100%);
  }

  footer {
    font-size: 12px;
  }
}

/* _______________________________________________________ */
@media screen and (min-width: 1000px) {
  body {
    font-size: 20px;
  }

  /* HLAVICKA */
  .header {
    padding: 40px 0 120px;
    margin-bottom: 40px;
  }

  .header-content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
  }

  .titulek {
    margin-bottom: 20px;
    font-size: 64px;
  }

  .perex {
    margin-bottom: 40px;
  }

  .perex::after {
    bottom: -30px;
    left: calc(50% - 50px);
    width: 100px;
    height: 2px;
  }

  /* MENU */

  .main-part {
    position: relative;
    top: -120px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    background-color: #fff;
    box-shadow: 2px 5px 20px #91928467;
  }

  nav {
    float: left;
    margin-left: 40px;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;

    font-size: 18px;
  }

  .menu-item {
    width: 100%;
    border-top: none;
    justify-content: start;
  }

  .menu-item:not(:last-child) {
    border-right: none;
  }

  .section p {
    padding: 0;
  }

  .lead-in-text {
    margin-left: 300px;
    margin-right: 40px;
  }

  .secondary p,
  .secondary h2 {
    padding: 0;
    width: 70%;
    margin-right: auto;
    margin-left: 30px;
  }

  .secondary:nth-child(2n) p,
  .secondary:nth-child(2n) h2 {
    margin-left: auto;
    margin-right: 30px;
  }

  .section h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .section h2::after {
    top: 70px;
    left: -30px;
  }

  figure {
    margin-top: 42px;
    margin-bottom: 42px;

    position: relative;
  }

  .popisek {
    position: absolute;
    bottom: 10px;
    right: 10px;

    font-size: 12px;
  }

  .fotogalerie {
    padding-bottom: 0;
  }

  .foto {
    flex: 0 1 33.333%;
  }

  .foto .picture {
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 0;
  }

  .foto:hover .picture {
    transform: scale(1.1);
  }

  .foto .popisek {
    bottom: -35px;
    right: 0;
    width: 100%;
    font-size: 10px;
    background-color: rgba(17, 17, 17, 0.45);

    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 0;
  }

  .foto:hover .popisek {
    transform: translateY(-35px);
  }

  footer {
    padding: 0 0 40px 0;
    font-size: 14px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
  }
}
